<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zhifu.pay.mapper.CommodityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.zhifu.pay.model.Commodity">
        <id column="id" property="id" />
        <result column="commodityid" property="commodityid" />
        <result column="name" property="name" />
        <result column="money" property="money" />
        <result column="inventory" property="inventory" />
        <result column="createtime" property="createtime" />
        <result column="description" property="description" />
    </resultMap>

</mapper>
